/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* 搜索容器样式 */
.search-container {
    margin-left: 30.3%;
    position: relative;
    display: inline-block;
    width: 760px; /* 可以根据需要调整宽度 */
}

/* 输入框样式 */
.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px; /* 圆角 */
    box-sizing: border-box; /* 保证内边距和边框不会影响宽度 */
    transition: border-color 0.3s ease; /* 平滑过渡效果 */
}

/* 输入框聚焦时样式 */
.search-container input[type="text"]:focus {
    border-color: #4CAF50; /* 绿色边框表示聚焦 */
    outline: none; /* 移除默认的聚焦轮廓 */
}

.suggestion-item {
    display: flex;
    margin: 10px;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.822);
    border-radius: 8px;
    transition: background-color 1s;
    cursor: pointer;
}
.suggestion-item:hover {
    background-color: #f0f0f0;
}
.suggestion-content {
    flex-grow: 1;
    width: 70%;
    font-size: 18px;
    margin: 5px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}
.suggestion-buttons {
    display: flex;
    gap: 5px;
}
.a {
    color: #737373;
    background: #cc833e;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 18px;
}
.a:hover {
    background-color: #ffe59d; /* 设置鼠标悬停时的背景颜色 */
}
@media screen and (max-width: 1280px) {
    .search-container {
        margin-left: 22%;
        position: relative;
        display: inline-block;
        width: 290px; /* 可以根据需要调整宽度 */
    }
}